services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: release
    container_name: dev_ops_compare_app_prod
    ports:
      - '3000:3000'
    env_file:
      - .env.production
    environment:
      NODE_ENV: production
      PORT: 3000
    restart: unless-stopped

networks:
  default:
    name: dev_ops_compare_network_prod
